.expense_date {
  display: flex;
  align-items: center;
}
.expense-date {
  background-color: black;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
}
.expense-date__month,
.expense-date__year,
.expense-date__day {
  color: white;
}
.title {
  color: black;
}
