.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.innerContainer .newgoal {
  width: 90%;
}
.innerContainer .goals {
  width: 100%;
}
/* .goals,
.newGoal {
  display: flex;

  flex-direction: column;
} */
